<center>
    <nav>
        <a href="/">Random</a>
        <a href="/form">Form</a>
        <a href="http://www.google.com">Contact</a>
        <a href="http://www.google.com">Login</a>
    </nav>
</center>
