<html>
    <head>
        <title>Random Number</title>
        <link rel="stylesheet" href="/css/bootstrap.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>

    <body>
        <% include partials/nav.ejs %>
        <br/>
            <div class="container">
                <form action="/form" method="POST">
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" type="text" name="name" placeholder="Name"/>
                        <br/>
                        <label>E-mail</label>
                        <input class="form-control" type="email" name="email" placeholder="E-mail"/>
                        <br/>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
    </body>
</html>
