<html>
    <head>
        <title>Random Number</title>
        <link rel="stylesheet" href="/css/bootstrap.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    
    <body>
        <% include partials/nav.ejs %>
        <br/>
        <center>
            <form action="/form" method="POST">
                <label>Name</label>
                <input type="text" name="name" placeholder="name"/>
                <br/>
                <label>E-mail</label>
                <input type="email" name="email" placeholder="email"/>
                <br/>
                <button type="submit">Submit</button>
            </form>
        </center>
    </body>
</html>
