<html>
    <head>
        <title>Random Number</title>
        <link rel="stylesheet" href="/css/bootstrap.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>

    <body>
        <% include partials/nav.ejs %>
        <center>
            <h3>Your random number is: <%= random %></h3>
            <% if(random > 0.5) { %>
                <h1>You win!</h1>
            <% } else { %>
                <h1>You lose!</h1>
            <% } %>
        </center>
    </body>
</html>
