h3 {
    padding: 20px;
    font-size: 30px;
    font: Verdana;
}

h1 {
    font-size: 48px;
    font: Verdana;
}

a {
    font-size: 20px;
    padding: 10px;
}

.user-table tr:hover td {
    text-decoration: line-through;
}
